<div id="container">
    <mat-card>
  
      <mat-toolbar> Configuração </mat-toolbar>
  
      <mat-card-content>
        <br>
        <div id="suporte"><img src="\assets\img\localizacao.png" width="50" height="40"/>Endereço: R. Da Tristeza, Ed. Feliz, nº 101, sl 300</div><br><br>
        <div id="suporte"><img src="\assets\img\email.png" width="50" height="40"/>Suporte: suporte@cashsolidario.com.br</div><br><br>
        <div id="suporte"><img src="\assets\img\telefone.jpg" width="50" height="40"/>Telefone: (48)3333-3333</div><br><br>
        <div id="suporte"><img src="\assets\img\whatsapp.png" width="50" height="40"/>WhatsApp: (48)99999-9999</div>
        
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button> Logout </button>
        <button mat-raised-button (click)="onCancel()"> Cancelar </button>
      </mat-card-actions>
    </mat-card>
  </div>
