<div id="container">
    <mat-card>
  
      <mat-toolbar> Configuração </mat-toolbar>
  
      <mat-card-content>
        <br>
        Endereço:(icone de localização) R. Da Tristeza, Ed. Feliz, nº 101, sl 300<br><br>
        Suporte: (icone de carta) suporte@cashsolidario.com.br<br><br>
        Telefone:(icone telefone) (48)3333-3333<br><br>
        WhatsApp:(icone WhatsApp) (48)99999-9999
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button> Logout </button>
        <button mat-raised-button (click)="onCancel()"> Cancelar </button>
      </mat-card-actions>
    </mat-card>
  </div>
