.body {
  width: calc(100% - 5rem);
  height: 100vh;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: grey;
  padding: 3rem;
  background-image: url("/assets/img/1.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

#logocanto {
  display: flex;
  justify-content: right;
  text-align: center;
  color: red
}
