<div id="container">
  <button mat-flat-button color="accent" (click)="menu()"> MENU </button>
  <button mat-flat-button color="primary" (click)="voltar()"> Voltar </button>

  <mat-card>
    <div id="containerlista">

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="cabecalho"> #ID</th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef class="cabecalho"> Nome do Cliente </th>
          <td mat-cell *matCellDef="let element">{{element.nome}}</td>
        </ng-container>

        <ng-container matColumnDef="fkIdentidade">
          <th mat-header-cell *matHeaderCellDef class="cabecalho"> Id Identidade </th>
          <td mat-cell *matCellDef="let element">{{element.fkIdentidade}}</td>
        </ng-container>

        <ng-container matColumnDef="dataInicio">
          <th mat-header-cell *matHeaderCellDef class="cabecalho"> Data de Inicio </th>
          <td mat-cell *matCellDef="let element">{{element.dataInicio | date: 'dd/MM/YYYY'}}</td>
        </ng-container>

        <ng-container matColumnDef="dataFinal">
          <th mat-header-cell *matHeaderCellDef class="cabecalho"> Data Final </th>
          <td mat-cell *matCellDef="let element">{{element.dataFinal | date: 'dd/MM/YYYY'}}</td>
        </ng-container>

        <ng-container matColumnDef="somaCampanha">
          <th mat-header-cell *matHeaderCellDef class="cabecalho"> Total </th>
          <td mat-cell *matCellDef="let element">{{element.somaCampanha | currency}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-mini-fab color="accent" aria-label="Adicionar Campanha">
              <mat-icon (click)="ondAdd()">add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let element">

            <button mat-icon-button color="accent" aria-label="Editar Cliente">

              <mat-icon (click)="onEdit(element.id)">edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" aria-label="Excluir Campanha">
              <mat-icon (click)="onDelete(element.id)">delete</mat-icon>
            </button>
          </mat-cell>

          <mat-cell *matCellDef="let element"></mat-cell>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

  </mat-card>
  <section id="botoes">
    <div class="example-button-row">
      <button mat-flat-button color="primary" id="button" (click)="buscarCampanhas()"> Buscar todas </button>
      <button mat-flat-button color="warn" id="button" (click)="limpar()"> Limpar </button>
      <button mat-flat-button color="warn" id="button" (click)="voltar()"> Voltar </button>
    </div>
  </section>
  <div>

  </div>
</div>
