.mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  margin-top: 50px;
  margin-right: 40;
}

.full-width {
  width: 100%;
  margin-top: 10px;

}

.min-width {
  width: 100%;
  min-width: 80%;
}

mat-raisen-button {

  margin-top: 50px;
}


.validation-error p {
  color: #dc3545;
  margin-top: 0.4em;
  border-left: 3px solid #dc3545;
  padding-left: 0.2em;
  font-size: 8pt;
}
