<mat-card>

  <mat-toolbar color="primary"> Cadastro de Clientes </mat-toolbar>

  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="min-width" #formDir="ngForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="nome" required>
        <div *ngIf="nome.invalid && formDir.submitted" class="validation-error">
          <!-- <p *ngIf="nome.invalid && nome.touched">Campo Obrigatório</p>-->
          <!--<p *ngIf="nome.errors?.['maxlength']">O nome é obrigatório</p>-->
          <p *ngIf="nome.errors?.['required']">O nome é obrigatório</p>
        </div>
      </mat-form-field>

      <p></p>
      <mat-form-field  class="full-width">
        <input   matInput placeholder="CPF" formControlName="cpf" class="full-width" mask="000.000.000-00" required>
        <div *ngIf="cpf.invalid && formDir.ngSubmit" class="validation-error">
          <p *ngIf="cpf.invalid && cpf.touched">Campo Obrigatório</p>
        </div>

      </mat-form-field>
      <p></p>

    </form>

    <form (ngSubmit)="onSubmit()" [formGroup]="formEnd" class="min-width" #formDir="ngForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="RUA" formControlName="logradouro" class="full-width" required>
        <div *ngIf="logradouro.invalid && formDir.ngSubmit" class="validation-error">
          <p *ngIf="logradouro.invalid && logradouro.touched">Campo Obrigatório</p>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Número" formControlName="numero" class="full-width" required>
        <div *ngIf="numero.invalid && formDir.ngSubmit" class="validation-error">
          <p *ngIf="numero.invalid && numero.touched">Campo Obrigatório</p>
        </div>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Complemento" formControlName="complemento" class="full-width" required>
        <div *ngIf="complemento.invalid && formDir.ngSubmit" class="validation-error">
          <p *ngIf="complemento.invalid && complemento.touched">Campo Obrigatório</p>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Bairro" formControlName="bairro" class="full-width" required>
        <div *ngIf="bairro.invalid && formDir.ngSubmit" class="validation-error">
          <p *ngIf="bairro.invalid && bairro.touched">Campo Obrigatório</p>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="CEP" formControlName="cep" class="full-width" mask="00.000-000" required>
        <div *ngIf="cep.invalid && formDir.ngSubmit" class="validation-error">
          <p *ngIf="cep.invalid && cep.touched">Campo Obrigatório</p>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Cidade" formControlName="cidade" class="full-width" required>
        <div *ngIf="cidade.invalid && formDir.ngSubmit" class="validation-error">
          <p *ngIf="cidade.invalid && cidade.touched">Campo Obrigatório</p>
        </div>
      </mat-form-field>

      <mat-form-field class="full-width">

        <input matInput placeholder="UF" formControlName="uf" class="full-width" required>
        <div *ngIf="uf.invalid && formDir.ngSubmit" class="validation-error">
          <p *ngIf="uf.invalid && uf.touched">Campo Obrigatório</p>
        </div>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()"> Salvar </button>
    <button mat-raised-button (click)="onCancel()"> Cancelar </button>
  </mat-card-actions>
</mat-card>
