.cantainer {
  color: #be70a4;
  width: auto;
  height: auto;
  margin-top: 10px;
}

.mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  margin-top: 50px;
  margin-right: 40;
}

.full-width {
  width: 100%;
  margin-top: 10px;
}

#nome {
  width: 70%;
  margin: 5px;
}

#cnpj {
  width: 20%;
}

#logradouro {
  width: 80%;
  margin: 10px;
}

#numero {
  width: 10%;
}

#complemento {
  width: 45%;
  margin: 10px;
}

#bairro {
  width: 45%;
}

#cep {
  width: 10%;
  margin: 10px;
}

#cidade {
  width: 75%;
  margin: 10px;
}

#uf {
  width: 5%;
}

.min-width {
  width: 100%;
  min-width: 80%;
}

mat-raisen-button {
  margin-top: 50px;
}

.validation-error p {
  color: #dc3545;
  margin-top: 0.4em;
  border-left: 3px solid #dc3545;
  padding-left: 0.2em;
  font-size: 8pt;
}

#container {
  background-image: url("/assets/img/formentidade.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100vw;

}
