th {
  font-weight: normal;
  padding: 0;
  border-bottom: 1px;
  border-bottom-style: solid;
}

td {
  padding: 0;
  border-bottom: 1px;
  border-bottom-style: solid;
}

table {
  width: 80%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
}

body {
  align-items: center;
  color: red;


}

.cabecalho {
  text-align: center;
  font: bold 12pt Arial;
  color: rgb(153, 4, 74);
}

#botoes {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

  #container {
    width: calc(100% - 5rem);
    height: 100vh;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem;
    background-image: url("/assets/img/Logo.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;

  }
