.mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  margin-top: 50px;
  margin-right: 40;
  background-color: white;
  //opacity: 0.8;
  box-shadow: 0 .25rem .5rem #e6edef;
}

.full-width {
  width: 100%;
  margin-top: 10px;

}

.min-width {
  width: 100%;
  min-width: 80%;
}

mat-raisen-button {

  margin-top: 50px;
}

#container {
  width: calc(100% - 5rem);
  height: 100vh;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: grey;
  padding: 3rem;
  //background-image: url("/assets/img/Logo.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  height:100%;
}
.mat-raised-button {
  background-color: grey;
  color: white;
}

.mat-toolbar{
background-color: grey;
color: white;
}
