<div id="container">
<mat-card>

  <mat-toolbar color="primary"> Cadastro de Campanha </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">

      <mat-form-field class="full-width">
        <input matInput name="nome" type="text" placeholder="Nome" [(ngModel)]="campanha.nome" formControlName="nome">
      </mat-form-field>
      <p></p>

      <mat-form-field class="full-width" >
        <mat-label>Entidade Registrada</mat-label>
        <mat-select
            [compareWith]="compareObjects" required
            [(ngModel)]="campanha.fkIdentidade" formControlName="fkIdentidade">
          <mat-option *ngFor="let entidade of entidades" [value]="entidade.id">
            {{entidade.id}}- {{entidade.nome}}
          </mat-option>
        </mat-select>
        </mat-form-field>
        <P></P>

        <mat-form-field class="full-width">
          <mat-label>Data de Início da Campanha: </mat-label>
          <input matInput  name="dataInicio"  [matDatepicker]="dataInicio" [(ngModel)] = "campanha.dataInicio" formControlName="dataInicio">
          <mat-hint>MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
          <mat-datepicker #dataInicio></mat-datepicker>
        </mat-form-field>

        <P></P>

        <mat-form-field class="full-width">
          <mat-label>Data de Final da Campanha: </mat-label>
          <input matInput name="dataFinal" [matDatepicker]="dataFinal" [(ngModel)] = "campanha.dataFinal" formControlName="dataFinal">
          <mat-hint>MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="dataFinal"></mat-datepicker-toggle>
          <mat-datepicker #dataFinal></mat-datepicker>
        </mat-form-field>

        <P></P>



    </form>
    <pre>{{campanha | json }}</pre>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()"> Salvar </button>
    <button mat-raised-button (click)="onCancel()"> Cancelar </button>
  </mat-card-actions>

</mat-card>
</div>
