* {
  margin: 0;
}
html, body {
  height: 100%;
}
.body-content {
  min-height: 100%;
  /* igual a altura do rodapé */
  margin-bottom: 1px;
}
.body-content:after {
  content: "";
  display: block;
}


.site-footer {
  background: gray;
  margin: 0;
}
