
#container {
  width: calc(100% - 5rem);
  height: 100vh;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: #f4f7fa;
  padding: 3rem;
  background-image: url("/assets/img/Logo.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  height:100%;

}
