#container {
  width: calc(100% - 5rem);
  height: 100vh;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: grey;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

}

.mat-flat-button {
  color: grey;
  background-color: white;
  border: 1px solid;
  margin-left: 3px;
  font-size: medium;
}

#botoes {
  display: flex;
  justify-content: center;
}
