.mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  margin-top: 50px;
  margin-right: 40;
}

.full-width {
  width: 100%;
  margin-top: 10px;

}

.min-width {
  width: 100%;
  min-width: 80%;
}

mat-raisen-button {

  margin-top: 50px;
}
