th {
  font-weight: normal;
  padding: 0;
  border-bottom: 1px;
  border-bottom-style: solid;
}

td {
  padding: 0;
  border-bottom: 1px;
  border-bottom-style: solid;
}

table {
  width: 80%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
}

body {
  align-items: center;
  color: red;


}

.cabecalho {
  text-align: center;
  font: bold 12pt Arial;
  color: rgb(153, 4, 74);
}

#botoes {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

  #container {
    background-image: url("/assets/img/listadeclientes.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100vw;

  }
