<!--
<mat-toolbar color="primary">
  <span> LISTA DE ENTIDADES </span>
</mat-toolbar>

-->
<div id="container">
<button mat-flat-button color="accent" (click)="menu()"> MENU </button>
<button mat-flat-button color="primary" (click)="voltar()"> Voltar </button>

<mat-card>
  <div id="containerlista">

    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="cabecalho"> #ID</th>
        <td mat-cell *matCellDef="let element" >{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="fkIdCliente">
        <th mat-header-cell *matHeaderCellDef class="cabecalho"> IdCliente</th>
        <td mat-cell *matCellDef="let element">{{element.fkIdCliente}}</td>
      </ng-container>

      <ng-container matColumnDef="fkIdCampanha">
        <th mat-header-cell *matHeaderCellDef class="cabecalho"> IdCampanha </th>
        <td mat-cell *matCellDef="let element">{{element.fkIdCampanha}}</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef class="cabecalho"> Valor Doado </th>
        <td mat-cell *matCellDef="let element">{{element.valor | currency}}</td>
      </ng-container>

      <ng-container matColumnDef="dataRegistroDoacao">
        <th mat-header-cell *matHeaderCellDef class="cabecalho"> Data Registro Doação </th>
        <td mat-cell *matCellDef="let element">{{element.dataRegistroDoacao | date: 'dd/MM/YYYY' }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab color="accent" aria-label="Adicionar Doacao">
            <mat-icon (click)="ondAdd()">add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" aria-label="Editar Doacao">
            <mat-icon (click)="onEdit(element.id)">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Excluir Doacao">
            <mat-icon (click)="onDelete(element.id)">delete</mat-icon>
          </button>
        </mat-cell>

        <mat-cell *matCellDef="let element"></mat-cell>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  </div>

</mat-card>
<section id="botoes">
  <div class="example-button-row">
    <button mat-flat-button color="primary" id="button" (click)="buscarDoacoes()"> Buscar todas </button>
    <button mat-flat-button color="warn" id="button" (click)="limpar()"> Limpar </button>
    <button mat-flat-button color="warn" id="button" (click)="voltar()"> Voltar </button>
  </div>
</section>
<div>

</div>

</div>
