<section id="menu">
  <button id="btMenu" mat-flat-button color="primary" (click)="irParaTelaCliente()"> CLIENTES </button>
  <button id="btMenu" mat-flat-button color="accent" (click)="irParaTelaEntidade()"> ENTIDADES </button>
  <button id="btMenu" mat-flat-button color="primary"(click)="irParaTelaEndereco()"> ENDEREÇO </button>
  <button id="btMenu" mat-flat-button color="accent" (click)="irParaTelaCampanha()"> CAMPANHA </button>
  <button id="btMenu" mat-flat-button color="primary"(click)="irParaTelaDoacao()"> DOACAO </button>

</section>
