<section id="menu">
  <button id="btMenu" mat-flat-button color="primary" (click)="irParaTelaCliente()"> Clientes </button>
  <button id="btMenu" mat-flat-button color="accent" (click)="irParaTelaEntidade()"> Entidades </button>
  <button id="btMenu" mat-flat-button color="primary"(click)="irParaTelaEndereco()"> Endereço </button>
  <button id="btMenu" mat-flat-button color="accent" (click)="irParaTelaCampanha()"> Campanha </button>
  <button id="btMenu" mat-flat-button color="primary"(click)="irParaTelaDoacao()"> Doação </button>

</section>
